*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    width: 99vw;
}
.navbar{
    width: 100vw;
    height: 15vh;
    background-color:#2E7D32;
    display: flex;
    justify-content: space-around;
}
.navbar img{
    width: 10vw;
    height: 17vh;
    border-radius: 50%;
}
@media (max-width:600px) {
    .navbar img{
    width: 10vw;
    height: 15vh;
}
}
.a{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
}
#msd{
    color: white;
}
#vk{
    color: orange;
}
.b{
    display: flex;
    gap: 4vw;
    padding-top: 2vh;
    font-size: 22px;
    align-items: center;
}
.b a{
    text-decoration: none;
    color: white;
}
.b button{
    width: 170px;
    height: 40px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border-radius: 12px;
}
.b button:hover, b button:active{
    transform: translateY(-5px);
}  

/* 🔹 Navbar responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .navbar img {
    width: 80px;
    height: 80px;
  }
}

#head{
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
    color: #0e0d0d;
}
.care1{
    padding-top: 40px;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}
@media (max-width:768px) {
    .care1{
        padding-top: 3vw;
         flex-direction: column;
         align-items: center;
    }
    .box1, .box2, .box3{
        width: 514px;
        height: 154px;
    }
}
.box1{
     width: 512px;
    height: 189px;
     background: #2E7D32;
    color: #E8F5E9;
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}
.box2{
     width: 512px;
    height: 189px;
     background: #2E7D32;
    color: #E8F5E9;
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}   
.box3{
     width: 512px;
    height: 189px;
     background: #2E7D32;
    color: #E8F5E9;
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}
.care2{
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
@media (max-width:768px) {
    .care2{
         flex-direction: column;
         align-items: center;
    }
     .box4, .box5{
        width: 514px;
        height: 154px;
    }
}
.box4{
     width: 512px;
    height: 189px;
     background: #2E7D32;
    color: #E8F5E9;
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}
.box5{
    width: 512px;
    height: 189px;
   background: #2E7D32;
    color: #E8F5E9;
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}
@media (max-width:768px) {
    .care1, .care2{
         gap: 0;              
    margin: 0;          
    padding: 0;
    }
}

