*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
.cont{
     width: 100%;          
  display: flex;
  justify-content: center;   
  align-items: center;    
}
.sig{
    margin-top: 5%;
    width: 600px;
    height: 400px;
    background-color: #000000;
    border: 2px solid #bcbaba;
    box-shadow: 0 6px 10px #2E7D32;
    justify-items: center;
    padding-top: 100px;
    align-items: center;
}
.a{
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #000000;
    gap: 0;
    color: #2E7D32;
}
.a img{
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 50%;
    object-fit: cover;
}
.a h1{
    background-color: #000000;
}
